.ProductData{
    width: 100%;
}
.ProductTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 16px;
}
.ProductDescription{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 16px;
}
  
.SectionHeading{
    font-size: 28px;
    margin-bottom: 8px;
}
  
.ProductImage{
    width: 100%;
    max-width: 80px;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
}
.SelectedProductImage{
    border: 2px solid teal;
}
  
.FeatureBtn{
    font-size: 20px;
    min-width: 80px;
    padding: 12px 24px;
    margin-right: 12px;
    text-align: center;
    border: transparent;
    border-radius: 8px ;
    background-color: gainsboro;
    box-sizing: content-box;
    cursor: pointer;
   
}
.SelectedFeature{
    background-color: darkgray;
    color: white;
    border: transparent;
}
  
.PrimaryBtn{
  
    font-size: 20px;
    padding: 12px 24px;
    margin-top:36px;
    border: 0;
    border-radius: 8px ;
    background-color: teal;
    color: white;
    cursor: pointer;
   
}