.topbar{
    background: #282c34;
    text-align: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topbar> img{
    width: 100px;
    padding: 24px 48px 12px;
    
}